/* SignStyles.css (or your preferred CSS file) */

.sign-in {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(135deg, #f6d365, #fda085);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

.sign-in h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

input[type="email"]:focus,
input[type="password"]:focus {
  background-color: rgba(255, 255, 255, 1);
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ff4d4d;
}

.backbutton {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.backbutton:hover {
  background-color: #444;
}
.hlw{
  margin-top: 1rem;
}
@media screen and (max-width: 768px) {
  .sign-in {
    max-width: 100%;
  }
}